body {
  background-color: black;
  color: beige;
}

.centerlize {
  display: flex;
  justify-content: center;
}

.give-bg {
  background-color: cadetblue;
  padding: 5px;
  margin-left: 4px;
  margin-right: 4px;
}

.card {
  background-color: transparent;
}

.competition {
  background-color: gray !important;
}


.find-us{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
